body {
    background-color: black;
    color: white;
}

.section {
    width:800px;
    margin: 50px;
    padding: 10px;
    border-style: double;
    border-color: blue;
    border-width: 2px;
}

button {
    background-color: lightblue;
    border-color: blue;
    border-width: 2px;
    margin-top: 5px;
    margin-left: 3px;
}

.textbox {
    border-color: blue;
    border-width: 0px;
    margin-top: 5px;
    margin-left: 3px;  
}

.highlightborder:hover {
    background-color: pink;
}


.map {
    width: 75vw;
    height: 75vh;
    overflow: scroll;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
}

.navbar {
    border-style: double;
    border-color: blue;
    border-width: 2px;
}

.navitem {
    padding-right:15px
}

wc-pan-box { 
    display: block;
    block-size: 500px;
    inline-size: 500px;
    overflow: auto;
    border: 1px solid black;
    }
